<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742862219115-fvc80anpf7umamnjfbvb244a8tchmnc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742862219115-fvc80anpf7umamnjfbvb244a8tchmnc5</string>
	<key>API_KEY</key>
	<string>AIzaSyBgCqsGjWYwI21DFsc3PZLb3cq_7D_eHMM</string>
	<key>GCM_SENDER_ID</key>
	<string>742862219115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.AdrienPEREA.MGL</string>
	<key>PROJECT_ID</key>
	<string>myboardgamelibrary</string>
	<key>STORAGE_BUCKET</key>
	<string>myboardgamelibrary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742862219115:ios:61e67fade45efd87198e2e</string>
</dict>
</plist>